* {
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

nav {
  width: 100vw;
  z-index: 100;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: #553C8F;
  position: fixed;
  top: 0;
  left: 0;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 70%;
}

.navbar li {
	display: block;
	position: relative;
  text-align: center;
  width: 20%;
  transition-duration: 0.5s;
}

.navbar li a {
  display: block;
  color: #fff;
  padding: 14px 0;
  text-decoration: none;
  transition-duration: 0.5s;
}

.burger {
  display: none;
}

.burger div{
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
}

.navbar li a:hover {
  box-shadow: inset 0 0 5px 5px #bbb1d2;
}

.navbar ul li ul {
  z-index: 100;
	visibility: hidden;
  opacity: 0;
  min-width: 5rem;
	position: absolute;
  transition: all 0.5s ease;
  /* margin-top: 47px; */
	left: 0;
  display: none;
}

.navbar ul li:hover > ul,
.navbar ul li ul:hover {
  visibility: visible;
  overflow: visible;
  background-color: #553C8F;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  opacity: 1;
  display: block;
  z-index: 100;
}

.navbar ul li ul li {
	clear: both;
  width: inherit;
	border-top: solid  #bbb1d2 2px;
}

.collapse { 
  display: none;
}

@media screen and (max-width: 768px) {
  body{
    overflow-x: hidden;
  }
  .nav-links {
    z-index: 100;
    position: absolute;
    right: 0px;
    height: 85vh;
    width: 50vw;
    top: 10vh;
    background-color: #553C8F;
    opacity: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 100%;
    width: 100%;
  }
  .burger{
    display: block;
    margin-left: auto;
    margin-right: 5%;
  }
  .search-bar {
    width: 50vw;
  }
}

.nav-active{
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}
